In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet('data/ML_data.parquet')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2107826 entries, 0 to 2107825
Data columns (total 18 columns):
 #   Column                                                                      Dtype
---  ------                                                                      -----
 0   Accounting_Document_Header_Client                                           int64
 1   Accounting_Document_Header_Company_Code                                     object
 2   Accounting_Document_Header_Document_Number_of_an_Accounting_Document        int64
 3   Accounting_Document_Header_Fiscal_Year                                      int64
 4   Accounting_Document_Header_Currency_Key                                     object
 5   Accounting_Document_Segment_Client                                          int64
 6   Accounting_Document_Segment_Company_Code                                    object
 7   Accounting_Document_Segment_Document_Number_of_an_Accounting_Document       int64
 8   Accounting_Document_Segment_Fiscal_Year                                     int64
 9   Accounting_Document_Segment_Number_of_Line_Item_Within_Accounting_Document  int64
 10  Accounting_Document_Segment_Posting_Key                                     int64
 11  Accounting_Document_Segment_Amount_in_local_currency                        float64
 12  Accounting_Document_Segment_Amount_in_document_currency                     float64
 13  Accounting_Document_Segment_Transaction_Key                                 object
 14  Accounting_Document_Segment_General_Ledger_Account                          int64
 15  Accounting_Document_Segment_Profit_Center                                   float64
 16  long_text                                                                   string
 17  grouping                                                                    object
dtypes: float64(3), int64(9), object(5), string(1)
memory usage: 289.5+ MB

In [4]:
df.Accounting_Document_Header_Document_Number_of_an_Accounting_Document.head()

0    100000000
1    100000000
2    100000002
3    100000002
4    100000010
Name: Accounting_Document_Header_Document_Number_of_an_Accounting_Document, dtype: int64

In [5]:
df.Accounting_Document_Segment_General_Ledger_Account.head()

0    1143733
1    6045011
2    1143731
3    1143731
4    1143731
Name: Accounting_Document_Segment_General_Ledger_Account, dtype: int64

In [6]:
mappings = {'Accounting_Document_Header_Document_Number_of_an_Accounting_Document':'BELNR','Accounting_Document_Segment_Posting_Key':'BSCHL',
            'Accounting_Document_Header_Company_Code':'BUKRS','Accounting_Document_Header_Fiscal_Year':'YEAR', 'grouping':'HKONT_grouping',
            'Accounting_Document_Segment_General_Ledger_Account':'HKONT','Accounting_Document_Header_Currency_Key':'WAERS','long_text':'HKONT_text',
            'Accounting_Document_Segment_Amount_in_document_currency':'WRBTR','Accounting_Document_Segment_Amount_in_local_currency':'DMBTR'}

In [7]:
df = df.rename(columns=mappings)[[mappings[i] for i in mappings]]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2107826 entries, 0 to 2107825
Data columns (total 10 columns):
 #   Column          Dtype
---  ------          -----
 0   BELNR           int64
 1   BSCHL           int64
 2   BUKRS           object
 3   YEAR            int64
 4   HKONT_grouping  object
 5   HKONT           int64
 6   WAERS           object
 7   HKONT_text      string
 8   WRBTR           float64
 9   DMBTR           float64
dtypes: float64(2), int64(4), object(3), string(1)
memory usage: 160.8+ MB

In [9]:
# df['BSCHL'] = df['BSCHL'].astype('string')
df['BSCHL'] = df['BSCHL'].astype('string')
df['WAERS'] = df['WAERS'].astype('string')
df['BUKRS'] = df['BUKRS'].astype('string')

In [10]:
df.drop_duplicates(subset = ['BELNR','HKONT','BUKRS','BSCHL'])

,BELNR,BSCHL,BUKRS,YEAR,HKONT_grouping,HKONT,WAERS,HKONT_text,WRBTR,DMBTR
0,100000000,50,IBE,2023,unlabelled,1143733,CHF,<NA>,0.00,0.01
1,100000000,40,IBE,2023,running_costs,6045011,CHF,Foreign exchange losses,0.00,0.01
2,100000002,40,IBE,2023,unlabelled,1143731,USD,<NA>,9586.94,9586.94
3,100000002,50,IBE,2023,unlabelled,1143731,USD,<NA>,9586.94,9586.94
4,100000010,40,IBE,2023,unlabelled,1143731,USD,<NA>,11584.66,11584.66
...,...,...,...,...,...,...,...,...,...,...
2107821,9500000988,50,UNES,2023,clearing_accounts,5098020,BRL,UBO clearing account,153866.55,31046.52
2107822,9500000989,27,UNES,2023,accounts_payable,2021011,BRL,Vendors payable,195084.17,39363.23
2107823,9500000989,50,UNES,2023,clearing_accounts,5098020,BRL,UBO clearing account,195084.17,39363.23
2107824,9500000990,37,UNES,2023,accounts_payable,2021042,BRL,Reimbursement of staff expenses claims,1131.90,228.39
2107825,9500000990,40,UNES,2023,clearing_accounts,5098020,BRL,UBO clearing account,1131.90,228.39

In [11]:
df.to_parquet('data/input.parquet', index=False)